<div class="nativeCommunities">
  <h1 class="title">Native Communities</h1>
  <div class="container">
    <div>
      <ul class="collapsible">
        <li>
          <div id ="forest-header" class="collapsible-header">Forest</div>
          <div class="collapsible-body"><span>A forest is a large area dominated by trees. More precise definitions can be given for specific forest types. Below are three of Portland's native forest types.</span><br>
          <h3><a href="" >Western Hemlock-Dougas Fir Forest</a></h3>
          <h3><a href="" >Mixed Coniferous/Decidious Riparian Forest</a></h3>
          <h3><a href="" >Deciduous Forested Wetlands and Floodplains</a></h3>
        </div>
        </li>
      </ul>
    </div>

    <div>
        <ul class="collapsible">
          <li>
            <div id="wetlands-header" class="collapsible-header">Wetlands</div>
            <div class="collapsible-body"><span>Wetlands are distinct ecosystems that are inundated by water, either permanently or seasonally. Wetlands are considered the most biologically diverse of all ecosystems and play a critical roll in water purification/storage, stabilization of shorelines, and processing of carbon.</span>
              <h3><a href="" >Deciduous Forested Wetlands and Floodplains</a></h3>
              <h3><a href="" >Scrub-Shrub Wetlands</a></h3>
              <h3><a href="" >Marsh</a></h3>
            </div>
          </li>
        </ul>
      </div>

      <div>
          <ul class="collapsible">
            <li>
              <div id="plains-header" class="collapsible-header">Plains</div>
              <div class="collapsible-body"><span>Plains are flat, sweeping areas of land that do not change much in elevation. Plains cover more than 1/3rd of the world's land area.</span>
                <h3><a href="" >Prairie</a></h3>
                <h3><a href="" >Rocky Outcrops, Dry</a></h3>
                <h3><a href="" >Rocky Outcrops, Wet</a></h3>
              </div>
            </li>
          </ul>
        </div>

  </div>
</div>