<body>
  <div class="container">
    <h1>Native Plant Communities</h1>

    <!-- <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">WESTERN HEMLOCK–DOUGLAS FIR FOREST<i class="material-icons right">more_vert</i></span>
        <p><a href="#">See plants ></a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">WESTERN HEMLOCK–DOUGLAS FIR FOREST<i class="material-icons right">close</i></span>
        <p>This is the most common plant community found in the Portland area.
          The forest is dominated by large conifers, with a wide range of associated
          species of trees, understory shrubs and groundcovers. Forest Park and
          the Boring Lava Domes provide good examples of this community.</p>
      </div>
    </div> -->




  </div>
</body>