<footer class="page-footer">
  <div class="container">
      <div><a id="about" routerLink="about">ABOUT</a></div>
      <div class="socialMedia">
        <a href="https://www.facebook.com/"><img id="facebook" src="assets/img/facebook.png" width="40px"></a>
        <a href="https://www.twitter.com/"><img id="twitter" src="assets/img/twitter.png" width="40px"></a>
        <a href="https://www.youtube.com/"><img id="youtube" src="assets/img/youtube.png" width="40px"></a>
        <a href="https://www.instagram.com/"><img id="instagram" src="assets/img/instagram.png" width="40px"></a>
        <a href="https://www.snapchat.com/"><img id="snapchat" src="assets/img/snapchat.png" width="40px"></a>
      </div>
  </div>
</footer>