<footer class="page-footer">
  <div class="container">
    <!-- <div class="row"> -->
    <!-- <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div> -->
    <!-- <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div> -->
    <!-- </div> -->
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div id="footer" class="row">
        <div class="col-sm-4">
        <div><a id="about" routerLink="about">ABOUT</a></div>
        <div id="socialMedia">
          <a href="https://www.facebook.com/"><img id="facebook" src="assets/img/facebook.png" width="30px"></a>
          <a href="https://www.twitter.com/"><img id="twitter" src="assets/img/twitter.png" width="30px"></a>
          <a href="https://www.youtube.com/"><img id="youtube" src="assets/img/youtube.png" width="30px"></a>
          <a href="https://www.instagram.com/"><img id="instagram" src="assets/img/instagram.png" width="30px"></a>
          <a href="https://www.snapchat.com/"><img id="snapchat" src="assets/img/snapchat.png" width="30px"></a>
        </div>
        <div id="copyright">
          <p>© 2019 Copyright Text</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</footer>