<div id="background"><img src="../../assets/img/john-westrock-N-H21h3MaRk-unsplash.png" alt="forestPark" width="100%">
</div>
<div class="container">
    <div class="no-margin">
        <div class="centered">
            <div id="aboutTitle">Why we made Portland Field Guide</div>
            <p>Portland field guide is a collaborative website made with the idea of helping ease people into the world
                of local Portland plant identification.</p>
            <p>It provides the user with a database of local flora that they can use to search for info on plants they
                are curious about and also be inspired to start noticing and identifying the plants around the on
                hikes/walks around the city.</p>
        </div>
    </div>
</div>