<div id="background"><img src="../../assets/img/john-westrock-N-H21h3MaRk-unsplash.jpg" alt="forestPark" width="100%">
</div>
<div class="container">
    <div class="no-margin">
        <!-- <div class="no-wrap"> -->
        <div id="title" class="centered">about the creators and why they made Portland Field Guide</div>
        <p>Portland field guide is a collaborative website made by students at Epicodus with the idea of helping ease
            people into the world of local plant identification.</p>
        <p>We wanted to make an easy to use database local Portland, Or flora.</p>
    </div>
</div>