<nav>
  <div class="nav-wrapper">
    <div class="logo">
      <a href="#!" class="brand-logo">PDX <img src="./../assets/img/logo.svg" width="40" height="40" alt="">Field Guide</a>
    </div>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a id="home"routerLink="">Home</a></li>
      <li><a id="search"routerLink="search">Search</a></li>
      <li><a id="native"routerLink="native">Natives</a></li>
      <li><a id="invasive"routerLink="invasive">Invasives</a></li>
      <li><a id="plant-of-day"routerLink="plantOfDay">Plant of the Day</a></li>
      <li><a id="how-to-id"routerLink="howToId">How To Identify Guide</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a id="home"routerLink="">Home</a></li>
      <li><a id="search"routerLink="search">Search</a></li>
      <li><a id="native"routerLink="native">Natives</a></li>
      <li><a id="invasive"routerLink="invasive">Invasives</a></li>
      <li><a id="plant-of-day"routerLink="plantOfDay">Plant of the Day</a></li>
      <li><a id="how-to-id"routerLink="howToId">How To Identify Guide</a></li>
</ul>

