<div class="container">
  <img id="botanist" src="../../assets/img/magtril02.png" alt="botanist" style="width:100%;">
    <h1 class="titles">Identify That Plant!</h1>
    <!-- <h3>A Beginner's Guide to Identifying Plants</h3> -->

  <div class="guide">
    <p>Go beyond the obvious--"It has big green leaves"--to expertly identify plants! Here are some tools and tips to help you know what to look for.</p>
      <h4 class="titles">Helpful Tools</h4>
      <div>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">local_florist</i>Ruler</div>
          <div class="collapsible-body"><span>Bring one that is marked with both inches and metrics, as some field guides only use metric measurements, while others may use inches.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">nature</i>Magnifying Glass</div>
          <div class="collapsible-body"><span>Using one that has at least 10x power will allow you to explore the details of leaves, stems, and more.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>Some trees can reach over 50 feet in height! This will allow you to look at details that are higher up.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>Whether you use your phone, an advanced SLR camera, or a digicam, taking pictures will be helpful for taking field notes.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">import_contacts</i>Glossary</div>
          <div class="collapsible-body"><span>It can be helpful to know certain terms! Check out our glossary <a id="glossary" routerLink="glossary">here</a>.</span></div>
        </li>
      </ul>
    </div>

    <h4 class="titles">What to Look For</h4>
    <div class="columns">
      <div class="floatLeft">
        <b>Type of plant</b>
        <br>
        What is it? A tree? A shrub? A forb? What <strong>is</strong> a forb? (Check our <a href="">glossary</a> to find out!)
        <br>
      </div>
      <div class="col">
        <img class="imagesRight" src="../../assets/img/forest.svg" alt="">
      </div>
    </div>
    <br><br>
    <div class="columns">
      <div class="floatRight">
        <img class="imagesLeft" src="../../assets/img/wetlands.png" alt="">
        <br><br>
        <b>Environment/Habitat</b>
        <br>
        Where is it? Plants usually have very specific requirements for their habitats and communities.
        <br>
      </div>
    </div>
    <div class="columns">
      <div class="floatLeft">
        <b>Leaf branching</b>
        <br>
        Do the leaves branch out in the same spot but in opposite directions? Do they follow a more alternating pattern?
        <br><br>
        <img class="imagesRight" src="../../assets/img/fern-new.svg" alt="">
      </div>
    </div>
    <div class="columns">
      <div class="floatRight">
        <img class="imagesLeft" src="../../assets/img/trilium.svg" alt=""><br><br>
        <b>Flower petals</b>
        <br>
        Fun fact: all plants have flowers. For some plants, their flowers only last a short amount of time, which is why we don't "see" them.
        <br>
      </div>
    </div>
    <div class="columns">
      <div class="floatLeft">
        <b>Leaf shape</b><br>
        What shape is the leaf? Because this is a whole art onto itself, we have provided an extensive guide for you <a href="https://en.wikipedia.org/wiki/Glossary_of_leaf_morphology">here</a>.<br><br>
        <img class="imagesRight" src="../../assets/img/maple-leaf.svg" alt="">
      </div>
    </div>
  </div>
</div>

<br><br>
<!-- RESOURCES:
https://nature-mentor.com/need-help-identifying-a-plant/
http://identifythatplant.com/ -->
