.content-wrapper {
  padding-bottom: 100px;
}

.guide {}

.container {
  position: relative;
}

.titles {
  text-align: center;
  margin-top: 0;
}

#botanist {
  padding-top: 25%;
  padding-right: 20%;
}

.floatLeft {
  text-align: right;

}

.floatRight {
  text-align: left;
}

.imagesRight{
  height: 150px;
}

.imagesLeft{
  height: 150px;
  width: auto;
}

.columns {
  column-count: 2;
}
