.sci-name {
    font-style: italic;
}

.plant-type {
    font-size: 1.25em;
    margin-top: -0.5em;
    text-transform: capitalize;
}

.bold-type {
    font-weight: bold;
}

#second-image {
    width: 100%;
    height: auto;
    text-align: center center;
}

.communityName {
  padding-top: 15%;
  text-align: center;
  font-size: 1.0ems;
  text-transform: uppercase;
}
