<html>
  <body>

    <div *ngIf="selectedCommunity ===" class="container">
        <h3><em>selected.</em></h3>
        
        <blockquote>
          Info about this particular plant community pulled from database will go here.
        </blockquote>
        
        <h4>Plant type: <span>(tree / forb / shrub)</span></h4>

        <div *ngFor="let plant of native_list | async">

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{plant.image_url[0]}}">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{plant.common_name}} | <span class="sci-name">{{plant.scientific_name}}</span><i class="material-icons right"></i></span>
              <p><a (click)="goToDetailPage(plant)">See more details</a></p>
            </div>
            
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><span>{{plant.common_name}} </span>| <span class="sci-name">{{plant.scientific_name}}</span><i class="material-icons right">close</i></span>
              <p>{{plant.description}}</p>
            </div>
          </div>
        </div>    

      </div>
    </body>
</html>  

