<html>
  <body>

    <div  class="container">
        <h3 class="communityName">{{(selectedCommunity | async)?.name}}</h3>

        <p>{{(communityName | async)?.name}}</p>
        
        <p class="blurb">{{(selectedCommunity | async)?.blurb}}</p>

        <h5 class="description">{{(selectedCommunity | async)?.description}}</h5>
        
        <h5>Plant type: <span>(tree / forb / shrub)</span></h5>

        <div *ngFor="let plant of plants | async">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{plant.image_url[0]}}">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{plant.common_name}} | <span class="sci-name">{{plant.scientific_name}}</span><i class="material-icons right"></i></span>
              <p><a (click)="goToDetailPage(plant)">See more details</a></p>
            </div>
            
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><span>{{plant.common_name}} </span>| <span class="sci-name">{{plant.scientific_name}}</span><i class="material-icons right">close</i></span>
              <p>{{plant.description}}</p>
            </div>
          </div> 
        </div>     

      </div>
    </body>
</html>  