#titleImage {
  padding-top: 15%;
  width: 100%;
}

#title {
  text-align: center;
}

#alphabet {
  text-align: center;
}

.letter {
  text-align: center;
  font-size: 25pt;
}

.content-wrapper {
  padding-bottom: 100px;
}