<div class="content-wrapper">

<div class="container">
  <div class="glossary">
    <img id="titleImage" src="../../assets/img/flower-diagram.jpg" alt="">
    <h1 id="title">Glossary</h1>
    <h5 id="alphabet">
      <span (click)="showDiv('A')">A</span>
      <span (click)="showDiv('B')">B</span>
      <span (click)="showDiv('C')">C</span>
      <span (click)="showDiv('D')">D</span>
      <span (click)="showDiv('E')">E</span>
      <span (click)="showDiv('F')">F</span>
      <span (click)="showDiv('G')">G</span>
      <span (click)="showDiv('H')">H</span>
      <span (click)="showDiv('I')">I</span>
      <span (click)="showDiv('J')">J</span>
      <span (click)="showDiv('K')">K</span>
      <span (click)="showDiv('L')">L</span>
      <span (click)="showDiv('M')">M</span>
      <span (click)="showDiv('N')">N</span>
      <span (click)="showDiv('O')">O</span>
      <span (click)="showDiv('P')">P</span>
      <span (click)="showDiv('Q')">Q</span>
      <span (click)="showDiv('R')">R</span>
      <span (click)="showDiv('S')">S</span>
      <span (click)="showDiv('T')">T</span>
      <span (click)="showDiv('U')">U</span>
      <span (click)="showDiv('V')">V</span>
      <span (click)="showDiv('W')">W</span>
      <span (click)="showDiv('X')">X</span>
      <span (click)="showDiv('Y')">Y</span>
      <span (click)="showDiv('Z')">Z</span></h5>
      <div *ngIf="alphabetLetter === 'A'">
          <h6 class="letter">A</h6>
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">local_florist</i>Word</div>
              <div class="collapsible-body"><span>defintion.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">local_florist</i>Another word</div>
              <div class="collapsible-body"><span>defintion</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">local_florist</i>Binoculars</div>
              <div class="collapsible-body"><span>defintion</span></div>
            </li>
          </ul>
      </div>
    <br>
    <div class="definitions">
      <div *ngIf="alphabetLetter === 'B'">
      <h6 class="letter">B</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">local_florist</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">local_florist</i>Glossary</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">local_florist</i>Word</div>
          <div class="collapsible-body"><span>defintion.</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'C'">
      <h6 class="letter">C</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'D'">
      <h6 class="letter">D</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'E'">
      <h6 class="letter">E</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'F'">
      <h6 class="letter">F</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'G'">
      <h6 class="letter">G</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'H'">
      <h6 class="letter">H</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'I'">
      <h6 class="letter">I</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'J'">
      <h6 class="letter">J</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'K'">
      <h6 class="letter">K</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'L'">
      <h6 class="letter">L</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'M'">
      <h6 class="letter">M</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'N'">
      <h6 class="letter">N</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'O'">
      <h6 class="letter">O</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'P'">
      <h6 class="letter">P</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'Q'">
      <h6 class="letter">Q</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'R'">
      <h6 class="letter">R</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>

    <div *ngIf="alphabetLetter === 'S'">
      <h6 class="letter">S</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'T'">
      <h6 class="letter">T</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'U'">
      <h6 class="letter">U</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'V'">
      <h6 class="letter">V</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'W'">
      <h6 class="letter">W</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'X'">
      <h6 class="letter">X</h6>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
          <div class="collapsible-body"><span>defintion</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="alphabetLetter === 'Y'">
      <h6 class="letter">Y</h6>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
            <div class="collapsible-body"><span>defintion</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
            <div class="collapsible-body"><span>defintion</span></div>
          </li>
        </ul>
      </div>
      <div *ngIf="alphabetLetter === 'Z'">
        <h6 class="letter">Z</h6>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">face</i>Binoculars</div>
            <div class="collapsible-body"><span>defintion</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">photo_camera</i>Camera</div>
            <div class="collapsible-body"><span>defintion</span></div>
          </li>
        </ul>
      </div>
      </div>
    </div>

  </div>
</div>