#titleImage {
  padding-top: 25%;
  width: 100%;
  padding-left: 20px;
}

#title {
  text-align: center;
}

#alphabet {
  text-align: center;
}

.letter {
  text-align: center;
  font-size: 25pt;
}

#selectedLetter {
  text-align: center;
}

.content-wrapper {
  padding-bottom: 100px;
}

.alphaOne {
  word-spacing: 1em;
  line-height: 30pt;
}
