<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
    <body>
      <app-navbar></app-navbar>
      <app-home></app-home>
      <app-mission></app-mission>
      <app-navigation-links></app-navigation-links>
      <router-outlet></router-outlet>
      <app-footer></app-footer>

      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>

