<div class="title">Plant of the day:</div>
<img src="../../assets/img/stem.svg" alt="trillium" width="45px">
<div class="explanation">
  <p>Our recommendation for a local native plant you can learn more about and then look for out in the urban wild!</p>
  <p>Click on the picture to learn more.</p>
</div>

<div class="container">
  <ul class="collapsible popout">
    <li>
      <div class="collapsible-header">
        <img id="twinflower" src="https://www.fs.fed.us/wildflowers/plant-of-the-week/images/twinflower/linnaea_borealis_Tal_lg.jpg" alt="twinflower">
      </div>
      <div class="commonName"><strong>Common Name: </strong> <em>Twinflower</em></div>
        <div class="collapsible-body"><span>
          <div><strong>Scientific Name: </strong><em>Linnaea borealis</em></div><br>
          <div><strong>Plant Community:  </strong><em>western hemlock-douglas fir forest</em></div><br>
          <div><strong>Plant Type:  </strong><em>forb</em></div><br>
          <div><strong>Mature Height:</strong>  <em>4-7 in.</em></div><br>
          <div><strong>Habitat Type: </strong> <em>forest, forest slope</em></div><br>
          <div><strong>Description:</strong>  <em>little waif of a plant found throughout the northern hemisphere in circumboreal habitats. Twinflower occurs in open forests, heaths, and open dry slopes in the mountains across the northern hemisphere.</em></div></span>
      </div>
    </li>
  </ul>
</div>
