<div class="title">Plant of the day:</div>
<img src="../../assets/img/stem.svg" alt="trillium" width="45px">
<div class="explanation">
  <p>Our recommendation for a local native plant you can learn more about and then look for out in the urban wild!</p>
</div>

<div>
  <ul class="collapsible">
    <li>
      <div id="plantName" class="collapsible-header">
        <div class="image">{{native_plants.image_url}}
        </div>
        <div class="commonName"></div>
        {{native_plants.common_name}}
      </div>
      <div class="collapsible-body">
        <div>{{native_plants.scientific_name}}</div>
        <div>{{native_plants.plant_community}}</div>
        <div>{{native_plants.plant_type}}</div>
        <div>{{native_plants.mature_height}}</div>
        <div>{{native_plants.habitat_type}}</div>
        <div>{{native_plants.description}}</div>
      </div>
    </li>
  </ul>
</div>