.content-wrapper {
  padding-bottom: 100px;
}

#explanation {
  display: flex;
  justify-content: center;
}

#graph {
  width: 100%;
}

#bottomText {
  padding-bottom: 20px;
}

#image {
  padding-top: 65px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  #image {
    padding-top: 80px;
  }
}

h1 {
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
  margin-top: 10px;
}

.text {
  text-align: center;
}

/* #ranks {
  padding-bottom: 50px;
} */

hr {
  width: 250px;
  height: 2px;
  background: black;
}

.centered {
  align-items: center;
}

.centered p {
  margin-left: 20%;
}

@media screen and (min-width: 850px) {

  #graph {
    width: 50%;
    margin-left: 25%;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3em;
  }

  .centered p {
    margin-left: 0;
  }
}


