<h1>INVASIVE PLANTS</h1>
<div class="list container">
  <div *ngFor="let plant of invasive_list | async">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{plant.image_url[1]}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{plant.common_name}}<i class="material-icons right"></i></span>
        <p><a (click)="goToDetailPage(plant)">See Details</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{plant.name}}<i class="material-icons right">close</i></span>
        <p>Scientific Name: <em>{{plant.scientific_name}}</em></p>
        <p>Must erradicate?: <em>{{plant.is_erradication_req}}</em></p>
        <p>Invaisve Rank: <em>{{plant.invasive_rank}}</em></p>
      </div>
    </div>
  </div>
</div>
