<div class="content-wrapper">

<div class="container header">
  <div>
    <img id="icon" src="../../assets/img/hood.svg" alt="forest icon" width="300px">
  </div><br>
</div>
<div class="container formBody">
<form action="#">
  <div class="title">Search By...</div>
  <h5 id="directions">Select by Native or Invasive</h5>
  <div class="input-field col s12">
    <select (change)="onChange($event.target.value)" #nativeOrInvasive>
      <option value="" selected>Choose your option</option>
      <option value="native">Native</option>
      <option value="invasive">Invasive</option>
    </select>
  </div>
  <div *ngIf="searchOps === 'native'" id="native">
    <div class="input-field col s12">
      <select #byType>
        <option value="" selected>Search by Type of Plant</option>
        <option value="tree">Tree</option>
        <option value="shrub">Shrub</option>
        <option value="forb">Forb</option>
        <option value="grass">Grass</option>
        <option value="sedge/rush">Sedge/Rush</option>
        <option value="fern">Fern</option>
      </select>
      <label></label>
    </div>
    <div class="input-field col s12">
      <select #byCommunity>
        <option value="" selected>Search by Community</option>
        <option value="western hemlock-douglas fir forest">Western Hemlock-Douglas Fir Forest</option>
        <option value="mixed coniferous/deciduous riparian forest">Mixed Coniferous/Deciduous Riparian Forest</option>
        <option value="scrub-shrub wetlands">Scrub-Shrub Wetlands</option>
        <option value="marsh">Marsh</option>
        <option value="prairie">Prairie</option>
        <option value="dry rocky outcrops">Dry Rocky Outcrops</option>
        <option value="wet rocky outcrops">Wet Rocky Outcrops</option>
      </select>
      <label></label>
    </div>
    <div class="input-field col s12">
      <select #hasFlowers>
        <option value="" selected>Want to See Plants with Flowers?</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <label></label>
    </div>
    <a class="waves-effect waves-light btn"
      (click)="searchNative(nativeOrInvasive.value, byType.value, byCommunity.value, hasFlowers.value);">button</a>
  </div>
  <div *ngIf="searchOps === 'invasive'" id="invasive">
    <div class="input-field col s12">
      <select #erradicate>
        <option value="" selected>Plants on the Must Erradicate List</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <label></label>
    </div>
    <div>
      <select #byInvasiveRank>
        <option value="" selected>Search by Invasive Rank</option>
        <option value="A">Rank A Plants</option>
        <option value="B">Rank B Plants</option>
        <option value="C">Rank C Plants</option>
        <option value="D">Rank D Plants</option>
        <option value="W">Rank W Plants</option>
      </select>
      <label></label>
    </div>
    <a class="waves-effect waves-light btn"
      (click)="searchInvasive(nativeOrInvasive.value, erradicate.value, byInvasiveRank.value);">button</a>
  </div>
</form>
</div>
<div class="container">

  <div *ngIf="searchOps === 'native' && result_list">
    <div *ngFor="let plant of result_list | async">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{plant.image_url[0]}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{plant.common_name}}<i
              class="material-icons right"></i></span>
          <p><a (click)="goToDetailPage(plant)">See Details</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{plant.name}}<i class="material-icons right">close</i></span>
          <p>Scientific Name: <em>{{plant.scientific_name}}</em></p>
          <p>Description: <em>{{plant.description}}</em></p>
          <p>Type: <em>{{plant.plant_type}}</em></p>
          <span *ngIf="plant.mature_height !== null">
            <p>Mature Height: <em>{{plant.mature_height}}</em></p>
          </span>
          <p>Plant Communities: <span *ngFor="let community of plant.plant_community"><em>{{community}}, </em></span></p>
          <p>Habitat(s): <span *ngFor="let habitat of plant.habitat_type"><em>{{habitat}}, </em></span></p>
          <p>Light: <span *ngFor="let light of plant.light"><em>{{light}}, </em></span></p>
          <!-- <p>Moisture: <span *ngFor="let wetness of plant.moisture"><em>{{wetness}}, </em></span></p> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="searchOps === 'native' && usingPlants === true">
    <div *ngFor="let plant of plants">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{plant.image_url[0]}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{plant.common_name}}<i
              class="material-icons right"></i></span>
          <p><a (click)="goToDetailPage(plant)">See Details</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{plant.name}}<i class="material-icons right">close</i></span>
          <p>Scientific Name: <em>{{plant.scientific_name}}</em></p>
          <p>Description: <em>{{plant.description}}</em></p>
          <p>Type: <em>{{plant.plant_type}}</em></p>
          <span *ngIf="plant.mature_height !== null">
            <p>Mature Height: <em>{{plant.mature_height}}</em></p>
          </span>
          <p>Plant Communities: <span *ngFor="let community of plant.plant_community"><em>{{community}}, </em></span></p>
          <p>Habitat(s): <span *ngFor="let habitat of plant.habitat_type"><em>{{habitat}}, </em></span></p>
          <p>Light: <span *ngFor="let light of plant.light"><em>{{light}}, </em></span></p>
          <!-- <p>Moisture: <span *ngFor="let wetness of plant.moisture"><em>{{wetness}}, </em></span></p> -->
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="searchOps === 'invasive' && result_list">
    <div *ngFor="let plant of result_list | async">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{plant.image_url[0]}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{plant.common_name}}<i
              class="material-icons right"></i></span>
          <p><a (click)="goToDetailPage(plant)">See Details</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{plant.name}}<i class="material-icons right">close</i></span>
          <p>Scientific Name: <em>{{plant.scientific_name}}</em></p>
          <p>Must erradicate?: <em>{{plant.is_erradication_req}}</em></p>
          <p>Invaisve Rank: <em>{{plant.invasive_rank}}</em></p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="searchOps === 'invasive' && mustErradicate === true">
    <div *ngFor="let plant of plants">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{plant.image_url[0]}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{plant.common_name}}<i
              class="material-icons right"></i></span>
          <p><a (click)="goToDetailPage(plant)">See Details</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{plant.name}}<i class="material-icons right">close</i></span>
          <p>Scientific Name: <em>{{plant.scientific_name}}</em></p>
          <p>Must erradicate?: <em>{{plant.is_erradication_req}}</em></p>
          <p>Invaisve Rank: <em>{{plant.invasive_rank}}</em></p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>