@font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/roboto/Roboto-Regular.ttf");
}

.background {
  background-size: cover; 
  background-repeat: no-repeat;
  margin-top: 20px;
}

.container {
  /* position: relative; */
  text-align: center;
}

/* If the screen size is 601px wide or more, set the font-size of .centered to 3em */
@media screen and (min-width: 601px) {
  div.centered {
    font-size: 3.5em;
    top: 20%;
  }
}

.no-margin {
  margin: 0 ! important;
}

.no-wrap {
  white-space: nowrap;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: .9;
  font-size: 1.75em;
  letter-spacing: 1px;
}

#title {
  font-family: Roboto-Regular;
}

.more {
    padding-top: 30px;
}
.welcomePage {
    margin-top: 100px;
}