<div id="background"><img id="background" src="../../assets/img/nick-cooper-_1UF_3TlKcQ-unsplash.jpg" alt="fern"
  width="100%"></div>
<div class="container">
<div class="no-margin">
  <div class="no-wrap">
    <div id="title" class="centered">PORTLAND FIELD GUIDE</div>
  </div>
</div>
<div class="more">more</div>
<img class="down-arrow" src="../../assets/img/down-arrow.png" alt="down arrow" width="25px">

<section>
  <div class="welcomePage">
    <h2 id="welcome">WELCOME!</h2>
    <div id="mission">
      <p>Portland Field Guide is here to help you familiarize yourself with the local flora in your city and to enable
        you to start recognizing plants and trees when you are out exploring the many urban green spaces the city has
        to offer.</p>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p><br>
    </div>
    <div class="more">more</div>
    <img id="secondArrow" class="down-arrow" src="../../assets/img/down-arrow.png" alt="down arrow" width="25px">
  </div>
</section>

<section>
  <div class="no-margin">
    <div class="no-wrap">
      <div class="link-buttons">
        <img src="../../assets/img/brynden-FWbHMaOwTjw-unsplash.jpg" alt="ferns" width="100%">
        <div class="links">
        <div class="borders">NATIVES</div>
        <div class="borders">INVASIVES</div>
        <div class="borders">PLANT OF THE DAY</div>
        <div class="borders">IDENTIFICATION GUIDE</div>
        <div class="borders">SEARCH</div>
      </div>
      </div>
    </div>
  </div>
</section>