<div class="content-wrapper">

  <div class="parallax-container">
    <div><img id="background" src="../../assets/img/markus-spiske-IKvDKHWF_5w-unsplash.jpg" alt="fern"
        width="100%"></div>
  </div>
  <div class="container">
    <div class="no-margin">
      <div class="no-wrap">
        <div id="title" class="centered">portland field guide</div>
      </div>
    </div>
    <div class="more" onclick="scrollWin(0,500)">more<br>
    <img class="down-arrow" src="../../assets/img/down-arrow.png" alt="down arrow" width="25px"></div>

    <section>
      <div class="welcomePage">
        <div id="welcome">WELCOME!</div>
        <img src="../../assets/img/tree-ab (1).svg" alt="plant icon" width="40px">
        <div id="mission">
          <p>Portland Field Guide is here to help you familiarize yourself with the local flora in Portland, OR. This app was created to enable you to become an expert at  recognizing plants and trees when you are out exploring the many urban green spaces the city has to offer.</p>
          <img src="../../assets/img/fern-new.svg" alt="plant icon" width="40px">
          <p>You can click on the sections below to explore native species & plant communities, see which common plants are actually invasive, and checkout our handy tips on how to start identifying plants. Peruse the glossary of terms to learn about the plant-related vocabulary you'll see around our site. Check out the search page for sort through out databse of plants.</p>

          <img src="../../assets/img/forest.svg" alt="plant icon" width="55px">
          <p>Then you're ready to head out into the green spaces of Portland and start identifying!</p>
        </div>
        <div class="secondMore">more</div>
        <img id="secondArrow" class="down-arrow" src="../../assets/img/down-arrow.png" alt="down arrow" width="25px">
      </div>
    </section>

    <section>
      <div id="button-page" class="container">
        <div class="no-margin">
          <div class="no-wrap">
            <div class="link-buttons">
              <img src="../../assets/img/eric-muhr-NDLKJQvkVEk-unsplash.jpg" alt="ferns" width="100%">
              <div class="links">
                <div class="borders"><a routerLink="native_communities">natives</a></div>
                <div class="borders"><a routerLink="invasives">invasives</a></div>
                <div class="borders"><a routerLink="idGuide">identification guide</a></div>
                <div class="borders"><a routerLink="glossary">glossary</a></div>
                <div class="borders"><a routerLink="search">search</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="more">more</div>
    <img class="down-arrow" src="../../assets/img/down-arrow.png" alt="down arrow" width="25px">

    <div class="plantOfDay">
      <app-plant-of-day></app-plant-of-day>
    </div>


  </div>
</div>