.content-wrapper {
  padding-bottom: 100px;
}


.parallax-container {
  height: 600px;
  background-color: #c8d7d4;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2em;
  font-weight: 700px;
  letter-spacing: 1px;
}

#title {
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  div.centered {
    font-size: 2.30em;
    top: -17%;
    z-index: 1;
  }
}

@media screen and (min-width: 600px) {
  div.centered {
    font-size: 2.50em;
    top: -15%;
    z-index: 1;
  }
}

@media screen and (min-width: 700px) {
  div.centered {
    font-size: 2.70em;
    top: -14%;
    z-index: 1;
  }
}

@media screen and (min-width: 800px) {
  div.centered {
    font-size: 3em;
    top: -13%;
    z-index: 1;
  }
}

@media screen and (min-width: 900px) {
  div.centered {
    font-size: 3.25em;
    top: -12%;
    z-index: 1;
  }
}

@media screen and (min-width: 1000px) {
  div.centered {
    font-size: 3.40em;
    /* top: -10%; */
    z-index: 1;
  }
}

@media screen and (min-width: 1200px) {
  div.centered {
    font-size: 3.60em;
    top: -10%;
    z-index: 1;
  }
}

@media screen and (min-width: 1300px) {
  div.centered {
    font-size: 3.60em;
    top: -11%;
    z-index: 1;
  }
}

@media screen and (min-width: 1400px) {
  div.centered {
    font-size: 3.70em;
    top: -10%;
    z-index: 1;
  }
}

@media screen and (min-width: 600px) {
  #background {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  #background {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 850px) {
  #background {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 950px) {
  #background {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1050px) {
  #background {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  #background {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1300px) {
  #background {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1400px) {
  #background {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

.more {
  padding-top: 10px;
}

#welcome {
  font-size: 1.8em;
  padding-top: 55px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

@media screen and (min-width: 601px) {
  #welcome {
    font-size: 3.75em;
  }
}

#mission {
  font-size: 1em;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* @media screen and (min-width: 601px) {
  #mission {
    font-size: 2em;
    margin-left: 40px;
    margin-right: 40px;
  }
} */


#secondArrow {
  padding-bottom: 45px;
}

.no-margin {
  margin: 0 ! important;
}

.container {
  width: 100%;
}
      
.no-wrap {
  white-space: nowrap;
}

@media screen and (min-width: 601px) {
  div.borders {
    font-size: 3.75em;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px;
  }
}

.borders {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px solid white;
  border-color: white;
  background: white;
  /* width: 60%; */
  /* height: 30px; */
  padding: 20 30 20 30;
  border-radius: 4px;
  opacity: .7;
  padding: 10px;
  margin: 20px;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.borders a {
  color: black;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
