/* @font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/roboto/Roboto-Regular.ttf");
} */

.background {
  background-size: cover; 
  background-repeat: no-repeat;
}

.container {
  position: relative;
  text-align: center;
}

/* If the screen size is 601px wide or more, set the font-size of .centered to 3em */
@media screen and (min-width: 601px) {
  div.centered {
    font-size: 3.5em;
    top: 20%;
  }
}


.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: .9;
  font-size: 1.75em;
  letter-spacing: 1px;
}

#title {
  /* font-family: Roboto-Regular; */
}

.more {
  padding-top: 10px;
}

#welcome {
  font-size: 1.8em;
  padding-top: 60px;
  padding-bottom: 20px;
}

#mission {
  font-size: 1em;
  padding-bottom: 48px;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

#secondArrow {
  padding-bottom: 40px;
}

.no-margin {
  margin: 0 ! important;
}
      
.no-wrap {
  white-space: nowrap;
}

.borders {
  border: 2px solid white;
  border-color: white;
  opacity: .8;
  padding: 20 30 20 30;
  border-radius: 8px;
}