h3 {
  text-align: center;
}

p {
  text-align: justify;
}

img {
  width: 100px;
  height: 100px;
}

.align-left {
  display: flex;
  text-align: left;
}

.bold-text {
  color: green;
  font-weight: bold;
}

.align-right {
  display: flex;
  text-align: right;
}

img {
  width: 100px;
  height: 100px;
  padding: 15px;
}

