<body>
  <div class="container">

  <hr>
    <h4>How to navigate our app</h4>

  <div class="align-left">
    <img src="./../assets/img/native.svg" alt="fir photo">
    <p><span class="bold-text">Native Plant Communities</span>: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut fugit autem ex. Ratione sed eum repellat et optio, ipsa, cupiditate molestias, iusto pariatur laudantium cumque quasi magnam eius! Blanditiis, repellat?</p>
  </div>

  <div class="align-right">
      <p><span class="bold-text">Invasive plants</span>: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut fugit autem ex. Ratione sed eum repellat et optio, ipsa, cupiditate molestias, iusto pariatur laudantium cumque quasi magnam eius! Blanditiis, repellat?</p>
      <img id="invasive" src="./../assets/img/invasive.svg" alt="fir photo">
  </div>

  <div class="align-left">
      <img src="./../assets/img/search.svg" alt="fir photo">
      <p><span class="bold-text">Search plant by scientific name, genus, appearance, etc</span>: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut fugit autem ex. Ratione sed eum repellat et optio, ipsa, cupiditate molestias, iusto pariatur laudantium cumque quasi magnam eius! Blanditiis, repellat?</p>
  </div>

  <div class="id">
    <h3>How to Identify</h3>
  </div>

  <div class="daily-plant">
    <h3>Plant of the day</h3>
  </div>

  </div>
</body>